body{
    font-family: 'Roboto', sans-serif !important;
}
.logo{
    width: 100%;
    position: relative;
    overflow: hidden;
    min-height: 220px;
    background: url('../interface/images/recortes/home/puntiagudo.png')top center no-repeat;
    img{
        margin-top:5%;
        display: block;
        margin: 0 auto;
    }
}

#page-wrapper{
    border-left:  1px solid white;
}
.custom-login-panel{
    background: none !important;


    .custom-panel-heading{
        background: none !important;
        border:0px;
        .custom-panel-title{
            width: 90%;
            margin: 0 auto;
            border-bottom: 1px solid #fff;
            text-align: center;
            color: white;
            font-size: 22px;
            font-weight: 200;
            line-height: 1.5;
            padding-bottom: 3px;
        }
    }
    .custom-panel-body{
        .input-group-addon{
            background: none ;
            color: white;
        }
        .form-control{
            color: @verde-oscuro;
            outline: none;
        }
        .form-control:focus, .form-control:active{
            box-shadow:none;
            border:1px solid white;
            background: none;
            color: white;
        }
    }
}
.custom-navbar-default{
    background:none !important;
    .custom-navbar-brand{
        padding-top: 5px !important;
        padding-left: 10px;
    }
    .custom-navbar-right{
        a{
            color: white;

        }
        li{
            .dropdown-user , .dropdown-alerts{
                background: @verde-oscuro;
            }
            .text-muted {
                color:white;
            }
            a:hover{
                background: white;
                color: @verde-oscuro;
            }
        }
        li>a:focus, .nav>li>a:hover{
            background: white;
            color:@verde-oscuro;

        }
        li:hover{
            background: white;
            .text-muted {
                color:@verde-oscuro;
            }
        }
    }
}
h1.page-header{
    color:white;
    font-weight: 200;
    font-family: 'Roboto', sans-serif !important;
}
.sidebar{
    background: #FFF;
    .sidebar-logo{
        background: @rojo;
        img{
            margin-top:5%;
            display: block;
            margin: 0 auto;
        }
    }
    ul li{
        border-bottom: 1px solid @verde-oscuro;
    }
    .nav>li>a{
        color: @verde-oscuro;
    }
}
.login-panel{
    margin-top:  20px;
}
.btn-success{
    background: @mostaza;
    color: @verde-oscuro;
    text-align: center;
    width: 200px !important;
    height: 40px;
    display: block;
    margin: 0 auto;
    border: 0px;
    float: none !important;
    font-size: 16px;
}
.btn-success:hover{
    background: @verde-oscuro;
    color: @mostaza;
    border: 1px solid #fff;
}
.alert-info{
    border: 1px solid white    ;
    background: none;
    color:white;
}
.panel-primary{
    .panel-heading{
        background: @gris-plomo !important;   
        border: 1px solid white;
    }
    a{
        color: @verde-oscuro;
    }
    a:hover{
        color: @gris-plomo;
    }
}
.panel-mostaza{
    .panel-heading{
        background: @mostaza !important;
        border: 1px solid white;
    }
    .huge{
        font-size: 28px;
        padding: 10px;
        text-overflow: ellipsis-word;
    }
    a{
        color: @verde-oscuro;
    }
    a:hover{
        color: @gris-plomo;
    }
}
.content-canvas{
    position: relative;
    display: block;
    width: 100%;
    height: auto;
    margin: 0 auto;
    canvas{
        position:relative !important;
        margin: 0 auto;
        display:relative;
    }
}
.sin-padding{
    padding-left: 0px !important;
    padding-right:  0px !important;
}
.create-salas{
    margin-top: 100px;
    width: auto;
    height: 0px;
    overflow: hidden;
    background: @rojo;
    overflow:hidden;
    padding:0px;
    border-radius: 5px;
    transform: translate3d(-250%, -00%, 299px) ;
    -webkit-transform: translate3d(-250%, -00%, 299px) ;
    -mox-transform: translate3d(-250%, -00%, 299px) ;
    -ms-transform: translate3d(-250%, -00%, 299px) ;
    transition:0.8s all ease-in;
    z-index:2;

    .close{
        color: #FFF;

        text-align: right;
        opacity: 1;
    }
    .close:hover{
        color: #FFF;
    }
    .input-group{
        margin-bottom: 10px;
        height: 35px;
        overflow:hidden;
        span{
            height: 35px;
            background: white;
            color: @rojo;
            border:0px;
            outline: 0px;
        }
        input[type="text"],input[type="number"],input[type="password"],select , select > option {
            height: 36px;
            -webkit-appearance: none;
            border: none;
            min-width: 180px;
            margin-left: -2px;
            border:0px solid;
            outline: 0px;
            margin-top: 1px;
            width: 98%;
        }

    }
    .label{
        background: white;
        color: @rojo;
        font-weight: 200;
    }
}
.poker{
    padding-top: 80px;
    overflow:hidden;
    position: relative;
    height: 780px;

}
.playing{
    background: url(../interface/images/recortes/poker/mesa.png) center center no-repeat;
    height: 720px;
    /*background-size: 100%;*/
    position: relative;
    z-index:900;
    margin-top:-20px;


    .curpie{
        width: 100%;
        height: 200px;
        margin-top: 17px;
    }
    .men{
        background: url(../interface/images/recortes/poker/dealer.png) center center no-repeat;    
    }
    .women{
        background: url(../interface/images/recortes/poker/dealer-women.png) center center no-repeat;    
    }
    .player{
        height: 240px;
        overflow: hidden;
        position: relative;
        /*background:yellow;*/

        .name{
            display: block;
            width: 100%;
            color:white;
            h3{
                text-align: center;
                font-size: 12px;
            }
        }
        .img-profile{
            width: 100px;
            height: 100px;
            border-radius: 50%;
            overflow: hidden;
            display: block;
            margin: 0 auto;
            border:5px dashed @rojo;
            background: @gris-plomo;
            .img-vacio{
                display: none;
            }
        }
        .money{
            width: 110px;
            height: 20px;
            background: @rojo;
            display: block;
            margin: 0 auto;
            position: relative;
            margin-bottom:5px;
            p{
                &:before{
                    content:'Bs.';
                }
                padding:2px;
                font-size: 12px;
                color: white;
                text-align: center;
            }
        }
        .tiempo{
            width: 50px;
            height: 50px;
            position: relative;
            background: @rojo;
            color: white;
            border-radius: 50%;
            margin-top: -38px;
            margin-left: 40px;
        }
        .cartas{
            width: 100%;
            height: 60px;

            position: relative;
            margin-top: -60px;
            margin-bottom: 0px;
            .carta1, .carta2{
                float:right;
                margin-right: 5px;
                height: 60px;
                width: 40px;
                background: violet;
                border-radius:5px;
            }
        }
        .thumbnail{
            display: none;
        }
    }
    .player1{
        margin-top: -20px;
    }
    .player2{
        margin-top: -20px;
        margin-left: -150px;
        .tiempo{
            margin-left: 31.5%;
            margin-top: -38px;
        }
        .cartas{
            margin-left: -80px;
        }
    }
    .player3{
        margin-left: -80px;
        margin-top: -110px;
        .tiempo{
            margin-left: 80px;
            margin-top: -49PX;
        }
        .cartas{
            margin-left: -40px;
        }
    }
    .player4{
        margin-top: -110px;
        margin-left: 40px;
        .tiempo{
            margin-left: 60px;
            margin-top: -48px;
        }
        .cartas{
            margin-left: -20px;
        }
    }
    .player5{
        .tiempo{
            margin-top: -48px;
            margin-left: 60px;
        }
        .cartas{
            margin-left: -20px;
        }
    }
    .player6{
        .tiempo{
            margin-top: -48px;
            margin-left: 60px;
        }
        .cartas{
            margin-left: -20px;
        }
    }
    .player7{
        .tiempo{
            margin-top: -48px;
            margin-left: 60px;
        }
        .cartas{
            margin-left: -20px;
        }
    }

    .player5 , .player6 , .player7{
        margin-top: -60px;
    }
}
.sidebar-game{
    /*width: 100%;*/
    height: 780px;
    /*background: @mostaza;*/
    border-left: 1px solid white;
    overflow:hidden;
    h3{
        text-align: center;
        color: white;
        font-weight: 200;
    }
    .profile{
        width: 120px;
        height: 120px;
        border-radius: 50%;
        display: block;
        margin: 0 auto;
        overflow:hidden;
        margin-top: 40px;
        img{
            width: 100%;
            height: 100%;
            background: yellow;
        }
    }
    .saldo{
        color: @rojo;
        font-size: 18px;
        text-align: center;
        padding-top: 10px;
        font-weight: bold;
    }
    .nameprofile{
        color: white;
        font-size: 22px;
        text-align: center;
        padding-top: 10px;
        font-weight: 200;
    }
    .btn{
        background: @rojo;
        color: white;
        font-weight: 200;
        font-size: 16px;
        border-radius: 0px;
        border: none;
    }
    .btn-center{
        display: block;
        margin: 0 auto;
        float: none;
        max-width: 200px;
    }
    .option-user {
        width: 98%;
        overflow: hidden;
        margin: 20px auto;
        height: 200px;
        .izq{
            input {
                width: 90%;
                padding: 10px;
                margin: 10px;
                text-transform: uppercase;
            }
        }
        .der {
            div {
                background-color: #2B2A26 !important;
                height: 25%;
                width: 100%;
                overflow: hidden;
                padding: 13%;
                box-shadow: none;
                font-weight: 200;
                font-size: 14px;
                text-transform: uppercase;
                input {
                    width: 100%;
                    height: 100%;
                    background-color: transparent;
                    border: 1px solid #9C9B97;
                    text-align: center;
                    font-size: 13px;
                    font-weight: 200;
                }
            }
            div + div {
                border-top: 1px solid white !important;
            }
        }
    }
    .content-chat{
        width: 98%;
        margin-left: 1%;
        max-height: 260px;
        min-height: 260px;
        height: auto;
        overflow-x: hidden;
        overflow-y: auto;
        .message{
            padding-left: 5px;
            padding-right: 5px;
            color:white;

            border-bottom: 1px solid white;
            margin-bottom: 5px;
            p{
                text-align: justify;
                word-wrap: break-word;
            }
            span{
                font-weight: bold;
                color: @rojo;
            }
            span.responder{
                color: @mostaza;
            }
        }

    }
    .text-message{
        width: 98%;
        margin-left: 1%;
        overflow:hidden;
        margin-top: 10px;
        .text{
            background: none;
            border:1px solid white;
            color:white;
            min-height: 10px;
            max-height: 50px;
            width: 100%;
            padding-left:3px;
            resize: none;
        }
    }
}
#torbo{
    z-index: 999;
}
#sales{
    background: @gris-plomo;
    padding: 10px;
    transition:1.2s all ease-in-out;
    border-radius:10px;
    margin-bottom:200px;
    .list-sales{
        width: 100%;
        height: 450px;
        overflow-y: scroll;
        border-radius:10px;
        color:white;
        .titulo{
            font-weight: bold;
            font-size: 20px;
        }
        tr > th{
            text-align: center;
            font-weight: 200;
            span{
                font-size: 18px;
                left: -10px;
                position: relative;
            }
        }
        tr:nth-of-type(odd){
            background: @rojo;
        }
    }

}
.sales-close{
    transform: translate3d(-10%, -180%, 299px);
    -webkit-transform: translate3d(-10%, -180%, 299px) ;
    -mox-transform: translate3d(-10%, -180%, 299px) ;
    -ms-transform: translate3d(-10%, -180%, 299px) ;
    height: 0px;
    overflow: hidden;
    padding: 0px !important;
    min-height:0px !important;
    margin-bottom:0px !important;
}
.create-salas-visible{
    transform: translate3d(-20%, -20%, 0px) !important;
    -webkit-transform:  translate3d(-20%, -20%, 0px) !important;
    -moz-transform: translate3d(-20%, -20%, 0px) !important;
    -ms-transform:  translate3d(-20%, -20%, 0px) !important;
    height: auto;
    overflow: auto;
    padding:12px;
    z-index: 1000;
}
.alert-info{
    position: relative;
    z-index: 11111;
}
.title-white{
    color: white;
}
.disponible{
    .player1 {
        margin-top: 80px;
    }
    .player2{
        margin-top: 60px;
    }
    .player3{
        margin-top: -80px;
    }
    .player4{
        margin-top: -90px;
    }
    .name{color: white;}
    .money , .tiempo , .cartas{
        display: none !important;
    }
    .img-profile{
        .imagenprofile{
            display: none !important;
        }
        .img-vacio{
            display: block !important;
        }
    }


}
.alert-reward{
    background: @rojo;
    .input-group-addon{
        background: @gris-plomo;
        border:none;
        color: white;
        padding: 5px;
    }
    .drag{
        background: white;
        box-shadow: inset 1px 2px 0px 15px @verde-oscuro;
        border: none;
    }
    output{
        color:white;
        font-weight: bold;
        font-size: 16px;
        display: inline-block;
    }
    .close{
        color: white;
        opacity: 1.0;
    }
}
.titilar{
    animation: time 20s infinite;
    transition:0.1s all ease-in-out;
}
.img-responsive{
    display: block;
    margin: 0 auto;
    max-width: 100%;
}
/* Chrome, Safari, Opera */ 
@-webkit-keyframes time {
    0%   {
        opacity: 1;
        background: green;
    }
    5%{
        opacity: 0.5;
    }
    10%   {
        opacity: 1;
    }
    15%{
        opacity: 0.5;
    }
    20%   {
        opacity: 1;
    }
    25%{
        opacity: 0.5;
    }	
    30%   {
        opacity: 1;
    }
    35%{
        opacity: 0.5;
    }
    40%   {
        opacity: 1;
    }
    45%{
        opacity: 0.5;
    }
    50%   {
        opacity: 1;
    }
    55%{
        opacity: 0.5;
    }
    60%   {
        opacity: 1;
    }
    75%{
        opacity: 0.5;
    }
    80%   {
        opacity: 1;
    }
    85%{
        opacity: 1;
        background: yellow;
    }
    90%   {
        opacity: 1;
    }
    100%{
        opacity: 1;
        background: yellow;
    }

}

/* Standard syntax */
@keyframes time {
    0%   {
        opacity: 1;
        background: green;
    }
    5%{
        opacity: 0.5;
    }
    10%   {
        opacity: 1;
    }
    15%{
        opacity: 0.5;
    }
    20%   {
        opacity: 1;
    }
    25%{
        opacity: 0.5;
    }	
    30%   {
        opacity: 1;
    }
    35%{
        opacity: 0.5;
    }
    40%   {
        opacity: 1;
    }
    45%{
        opacity: 0.5;
    }
    50%   {
        opacity: 1;
    }
    55%{
        opacity: 0.5;
    }
    60%   {
        opacity: 1;
    }
    75%{
        opacity: 0.5;
    }
    80%   {
        opacity: 1;
    }
    85%{
        opacity: 1;
        background: yellow;
    }
    90%   {
        opacity: 1;
    }
    100%{
        opacity: 1;
        background: yellow;
    }
}
.content-canvas{
    background: rgba(255,255,255,0) !important;
    max-width:1000px;
    overflow:hidden;
    height: auto;
    canvas{
        background: rgba(255,255,255,0) !important;
        width:100% !important;
        left:0px !important;

    }
}
.box-cargar-saldo{
    background: rgba(0,0,0,0.7);
    opacity:1.9 !important;
    .modal-dialog{
        height: 500px;
        background: none;
        .modal-content{
            background: none;
            border: 0px solid white;
            border-radius: 5px;
            color:white;
            min-height:400px;
            .close{
                display: none;
            }
            input{
                color: black;
            }
        }
    }
    #total_coins{
        opacity: 1;
        font-size: 20px;
    }
}
.fondo-game{
    width:100%;
    height:auto;
    overflow:hidden;
    position:relative;
}
.other-game{
    width:100%;
    height:auto;
    overflow:hidden;
    background:@verde-oscuro;
    .fondo-mesa{
		background-image: url(../interface/images/recortes/juegos/mesa1.png);
		background-repeat: no-repeat;
		background-position: center bottom;
		background-size: 90%;
		height: 300px;
        .juego-texto1
        	{
        		padding-top: 56px;
        		h1{
        		    color:white;
        		    font-size:30px;
        		    text-align:center;
        		}
        	}
	}
}
footer{
    width: 100%;
    background: @gris-plomo !important;
    position:relative;
    clear:both;
    .pre{
        border-bottom: 1px solid white;
        width: 100%;
        padding-top: 10px;
        padding-bottom: 10px;

        .redes{
            width: 180px;
            margin: 0 auto;
            position: relative;
            margin-bottom: 10px;
        }
    }
    .copy{
        color: white;
        font-size: 18px;
        padding-top: 20px;
    }
    a{
        color: white;
    }
    .telefono{
        color: white;
        padding-top: 15px;
        font-size: 20px;
    }
    .email{
        padding-left: 20px;
        padding-right: 20px;
    }
}
.carrusel-promo{
    width:100%;
    height:40px;
    background:rgba(33,33,33,0.8);
    margin-top:-40px;
}
#egipcio{
    
}
#frutas{
    .firstmodal{
        background: url('../interface/images/frutas/cargar-saldo.jpg') !important;
        border:0px;
        
        .modal-header{
            margin-top: 140px;
            .saldo-carga{
                margin-top:100px;
                 .money-text{
                        width:180px;
                        height:30px;
                        background:rgba(255,255,255,0.9);
                        border:0px;
                        text-indent:20px;
                        float:left;
                    }
                    .btn-submit{
                        background: rgb(255, 65, 0);
                        color:white;
                        height:30px;
                        border:0px;
                        
                    }
            }
            .ficha{
                font-size: 16px;
                text-align: center;
                color:black;
                //background:rgba(255,255,255,0.9);
                
            }
            .mount{
                width:150px;
                height: 30px;
                //background: url('../game-slot-machine/game_1024x768/sprites/but_bg.png');
                background:rgba(255,255,255,0.9);
                background-size:cover;
                margin: 0 auto;
                position: relative;
                display: block;
                p{
                    font-size: 12px;
                    color:black;
                    text-align: center;
                    padding-top:5px;
                    font-weight: 200;
                    label{
                    font-size: 14px;    
                    }
                }
            }

        }
    }
    .freeplaymodal{
         background: url('../interface/images/frutas/ganado.jpg') !important;
        border:0px;
    }
    .item-free{
        width:160px;
        height:160px;
        // background:black;
        display:block;
        margin:0 auto;
        overflow:hidden;
            margin-top: 35px;
        img{
            width:100%;
            height:auto;
        }
    }
}


// <!--ESTILOS MAIKOL SLOT RANAS -->

#ranas
    {
        .modal
            {
                .modal-dialog
                    {
                       .modal-content
                            {
                                border:0px;
                                background: url('../interface/images/ranas/cargar-saldo.jpg') !important;
                                .modal-body
                                    {
                                        text-align:center;
                                    }
                            }
                    }
            }
    }

// <!--SLOT SENSUAL -->
#sensual
    {
        .modal
            {
                .modal-dialog
                    {
                        .modal-content
                            {
                                    border:0px;
                                    background: url('../interface/images/sensual/cargar-saldo.jpg') !important;
                                .modal-body
                                    {
                                        text-align:center;
                                    }
                            }
                    }
            }
    }
    
    
// <!--SLOT MUSICAL -->    
#musical
    {
        .modal
            {
                .modal-dialog
                    {
                        .modal-content
                            {
                                    border:0px;
                                    background: url('../interface/images/musical/cargar-saldo.jpg') !important;
                                .modal-body
                                    {
                                        text-align:center;
                                    }
                            }
                    }
            }
    }
    
    
// <!--SLOT MARINO -->    
#marino
    {
        .modal
            {
                .modal-dialog
                    {
                        .modal-content
                            {
                                    border:0px;
                                    background: url('../interface/images/marino/cargar-saldo.jpg') !important;
                                .modal-body
                                    {
                                        text-align:center;
                                    }
                            }
                    }
            }
    }
    
    
// <!--SLOT ESPACIAL -->    
#espacial
    {
        .modal
            {
                .modal-dialog
                    {
                        .modal-content
                            {
                                    border:0px;
                                    background: url('../interface/images/espacial/cargar-saldo.jpg') !important;
                                .modal-body
                                    {
                                        text-align:center;
                                    }
                            }
                    }
            }
    }
    
    
// <!--SLOT DEPORTIVO -->    
#deportivo
    {
        .modal
            {
                .modal-dialog
                    {
                        .modal-content
                            {
                                    border:0px;
                                    background: url('../interface/images/deportivo/cargar-saldo.jpg') !important;
                                .modal-body
                                    {
                                        text-align:center;
                                    }
                            }
                    }
            }
    }
    
    
    // <!--SLOT CANDY -->    
#candy
    {
        .modal
            {
                .modal-dialog
                    {
                        .modal-content
                            {
                                    border:0px;
                                    background: url('../interface/images/candy/cargar-saldo.jpg') !important;
                                .modal-body
                                    {
                                        text-align:center;
                                    }
                            }
                    }
            }
    }
    
 // <!--SLOT BEBIDAS -->    
#bebidas
    {
        .modal
            {
                .modal-dialog
                    {
                        .modal-content
                            {
                                    border:0px;
                                    background: url('../interface/images/bebidas/cargar-saldo.jpg') !important;
                                .modal-body
                                    {
                                        text-align:center;
                                    }
                            }
                    }
            }
    }