.create-salas{
    margin-top: 100px;
    width: 100%;
    height: 0px;
    overflow: hidden;
    background: @rojo;
    overflow:hidden;
    padding:0px;
    border-radius: 5px;
    transform: translate3d(-250%, -00%, 299px) ;
    -webkit-transform: translate3d(-250%, -00%, 299px) ;
    -mox-transform: translate3d(-250%, -00%, 299px) ;
    -ms-transform: translate3d(-250%, -00%, 299px) ;
    transition:0.8s all ease-in;
    z-index:2;
    
    .close{
        color: #FFF;
        
        text-align: right;
        opacity: 1;
    }
    .close:hover{
        color: #FFF;
    }
    .input-group{
        margin-bottom: 10px;
        height: 35px;
        overflow:hidden;
        span{
            height: 35px;
            background: white;
            color: @rojo;
            border:0px;
            outline: 0px;
        }
        input[type="text"],input[type="number"],input[type="password"],select , select > option {
            height: 36px;
            -webkit-appearance: none;
            border: none;
            min-width: 180px;
            margin-left: -2px;
            border:0px solid;
            outline: 0px;
            margin-top: 1px;
            width: 98%;
        }

    }
    .label{
        background: white;
        color: @rojo;
        font-weight: 200;
    }
}
.poker{
    padding-top: 80px;
    /*overflow:hidden;*/
    position: relative;
    /*height: 600px;*/
    
}
.playing{
    background: url(../images/recortes/poker/mesa-poker.png) center center no-repeat;
    height: 480px;
    background-size: 100%;
    .curpie{
        width: 100%;
        height: 200px;
        margin-top: -230px;
    }
    .men{
    background: url(../images/recortes/poker/dealer.png) center center no-repeat;    
    }
    .player{
        height: 200px;
        overflow: hidden;
        position: relative;
        .name{
            display: block;
            width: 100%;
            h3{
                text-align: center;
                font-size: 12px;
            }
        }
        .img-profile{
         width: 100px;
         height: 100px;
         border-radius: 50%;
         overflow: hidden;
         display: block;
         margin: 0 auto;
         border:5px dashed @rojo;
         background: @gris-plomo;
        }
    }
    .player1{
        margin-top: -200px;
    }
    
}
.sidebar-game{
    width: 100%;
    height: 600px;
    background: @mostaza;
    overflow:hidden;
}
#sales{
    background: @gris-plomo;
    padding: 10px;
    transition:1.2s all ease-in-out;
    border-radius:10px;
    .list-sales{
        width: 100%;
        height: 450px;
        overflow-y: scroll;
        border-radius:10px;
        color:white;
        .titulo{
            font-weight: bold;
            font-size: 20px;
        }
        tr > th{
            text-align: center;
            font-weight: 200;
            span{
                font-size: 18px;
                left: -10px;
                position: relative;
            }
        }
        tr:nth-of-type(odd){
            background: @rojo;
        }
    }

}
.sales-close{
    transform: translate3d(-10%, -180%, 299px);
    -webkit-transform: translate3d(-10%, -180%, 299px) ;
    -mox-transform: translate3d(-10%, -180%, 299px) ;
    -ms-transform: translate3d(-10%, -180%, 299px) ;
    height: 0px;
    overflow: hidden;
    padding: 0px !important;
    min-height:0px !important;
}
.create-salas-visible{
    transform: translate3d(0%, -25%, 0px) !important;
    -webkit-transform:  translate3d(0%, -25%, 0px) !important;
    -moz-transform: translate3d(0%, -25%, 0px) !important;
    -ms-transform:  translate3d(0%, -25%, 0px) !important;
    height: auto;
    overflow: auto;
    padding:12px;
}