.create-salas{
    margin-top: 100px;
    width: 100%;
    height: 0px;
    overflow: hidden;
    background: @rojo;
    overflow:hidden;
    padding:0px;
    border-radius: 5px;
    transform: translate3d(-250%, -00%, 299px) ;
    -webkit-transform: translate3d(-250%, -00%, 299px) ;
    -mox-transform: translate3d(-250%, -00%, 299px) ;
    -ms-transform: translate3d(-250%, -00%, 299px) ;
    transition:0.8s all ease-in;
    z-index:2;

    .close{
        color: #FFF;

        text-align: right;
        opacity: 1;
    }
    .close:hover{
        color: #FFF;
    }
    .input-group{
        margin-bottom: 10px;
        height: 35px;
        overflow:hidden;
        span{
            height: 35px;
            background: white;
            color: @rojo;
            border:0px;
            outline: 0px;
        }
        input[type="text"],input[type="number"],input[type="password"],select , select > option {
            height: 36px;
            -webkit-appearance: none;
            border: none;
            min-width: 180px;
            margin-left: -2px;
            border:0px solid;
            outline: 0px;
            margin-top: 1px;
            width: 98%;
        }

    }
    .label{
        background: white;
        color: @rojo;
        font-weight: 200;
    }
}
.poker{
    padding-top: 80px;
    overflow:hidden;
    position: relative;
    height: 780px;

}
.playing{
    background: url(http://localhost:8888/wordpress/casino/v1/interface/images/recortes/poker/mesa-poker.png) center center no-repeat;
    height: 720px;
    /*background-size: 100%;*/
    position: relative;
    z-index:900;
    margin-top:-20px;
    
    .curpie{
        width: 100%;
        height: 200px;
        margin-top: 60px;
    }
    .men{
        background: url(../images/recortes/poker/dealer.png) center center no-repeat;    
    }
    .player{
        height: 280px;
        overflow: hidden;
        position: relative;
        .name{
            display: block;
            width: 100%;
            h3{
                text-align: center;
                font-size: 12px;
            }
        }
        .img-profile{
            width: 100px;
            height: 100px;
            border-radius: 50%;
            overflow: hidden;
            display: block;
            margin: 0 auto;
            border:5px dashed @rojo;
            background: @gris-plomo;
        }
        .money{
            width: 110px;
            height: 20px;
            background: @rojo;
            display: block;
            margin: 0 auto;
            position: relative;
            margin-bottom:5px;
            p{
                &:before{
                    content:'Bs.';
                }
                padding:2px;
                font-size: 12px;
                color: white;
                text-align: center;
            }
        }
        .tiempo{
            width: 50px;
            height: 50px;
            position: relative;
            background: @rojo;
            color: white;
            border-radius: 50%;
            margin-top: -70px;
        }
        .cartas{
            width: 100%;
            height: 80px;
            
            position: relative;
            margin-top: -30px;
            margin-bottom: 0px;
            .carta1, .carta2{
                float:right;
                margin-right: 5px;
                height: 70px;
                width: 40px;
                background: violet;
                border-radius:5px;
            }
        }
        .thumbnail{
            display: none;
        }
    }
    .player1{
        margin-top: -50px;
    }
    .player2{
        margin-top: -50px;
    }
    .player3{
        margin-left: -100px;
        margin-top: -50px;
        .tiempo{
            margin-left: 50px;
        }
        .cartas{
            margin-left: -50px;
        }
    }
    .player4{
        margin-top: -50px;
        margin-left: 130px;
    }
    .player5 , .player6 , .player7{
        margin-top: -60px;
    }
}
.sidebar-game{
    width: 100%;
    height: 780px;
    background: @mostaza;
    overflow:hidden;
}
#torbo{
    z-index: 999;
}
#sales{
    background: @gris-plomo;
    padding: 10px;
    transition:1.2s all ease-in-out;
    border-radius:10px;
    margin-bottom:200px;
    .list-sales{
        width: 100%;
        height: 450px;
        overflow-y: scroll;
        border-radius:10px;
        color:white;
        .titulo{
            font-weight: bold;
            font-size: 20px;
        }
        tr > th{
            text-align: center;
            font-weight: 200;
            span{
                font-size: 18px;
                left: -10px;
                position: relative;
            }
        }
        tr:nth-of-type(odd){
            background: @rojo;
        }
    }

}
.sales-close{
    transform: translate3d(-10%, -180%, 299px);
    -webkit-transform: translate3d(-10%, -180%, 299px) ;
    -mox-transform: translate3d(-10%, -180%, 299px) ;
    -ms-transform: translate3d(-10%, -180%, 299px) ;
    height: 0px;
    overflow: hidden;
    padding: 0px !important;
    min-height:0px !important;
    margin-bottom:0px !important;
}
.create-salas-visible{
    transform: translate3d(0%, -20%, 0px) !important;
    -webkit-transform:  translate3d(0%, -20%, 0px) !important;
    -moz-transform: translate3d(0%, -20%, 0px) !important;
    -ms-transform:  translate3d(0%, -20%, 0px) !important;
    height: auto;
    overflow: auto;
    padding:12px;
    z-index: 1000;
}
.alert-info{
    position: relative;
    z-index: 11111;
}